<div class="wrapper">
    <div class="content">
        <div class="logo">
            <img src="../../assets/Images/green-logo.png" alt="">
        </div>
        <div class="links">
            <ul>
                <li (click)="onHome()">POČETNA</li>
                <li (click)="onOffer()">PUNUDA</li>
                <li (click)="onAboutUs()">O NAMA</li>
                <li (click)="onLiveChat()">LIVE CHAT</li>
                <li>
                  <button (click)="OpenSignIn()" mat-stroked-button color="primary" class="signUp">Prijavi se</button>
                </li>
            </ul>
        </div>

    </div>

</div>
