<div class="accommodation-container">
  <mat-card *ngFor="let accommodation of accommodations" class="accommodation-card">
    <img [src]="getFirstImage(accommodation)" class="accommodation-image" alt="Accommodation Image">
    <mat-card-header>
      <mat-card-title>{{ accommodation.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Number of rooms: {{ accommodation.numberOfRooms }}</p>
      <p>Price: {{ accommodation.price }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openPopup(accommodation)">View More</button>
    </mat-card-actions>
  </mat-card>

  <app-location-popup [isOpen]="showPopup" [accommodationId]="selectedAccommodationId" (isOpenChange)="onClosePopup()"></app-location-popup>
</div> 

