<h1 mat-dialog-title>Dobro došli! </h1>
<div mat-dialog-content>
    <mat-tab-group>
        <div class="Login">
            <mat-tab label="Prijavi se">
                <div *ngIf="!reset" class="wrapper-login">
                    <!-- email -->
                    <mat-form-field class="login-example-full-width">
                        <mat-label>Username</mat-label>
                        <input id="LoginMail" matInput placeholder="" type="text" value="">
                    </mat-form-field>
                    <!-- password -->
                    <mat-form-field class="login-example-full-width">
                        <mat-label>Lozinka</mat-label>
                        <input id="LoginPassword" matInput placeholder="" type="password" value="">
                    </mat-form-field>
                     <!--Pass reset-->

                     <p style="color:#636262; cursor:pointer; margin-left: auto; margin-right: auto; margin-bottom: -5; font-size: 13px;"
                     (click)="zab()">Zaboravili ste lozinku?</p>
                    <div class="error-div">
                        <mat-error *ngIf="error===true">
                            {{errorMessage}}. Please check your inputs
                        </mat-error>
                    </div>
                    <div class="dialog-div">
                        <div mat-dialog-actions>
                            <button mat-raised-button color="warn" (click)="onLogin()"> Prijavi se</button>
                            <button mat-button [mat-dialog-close]="" cdkFocusInitial>Odustani</button>
                        </div>
                    </div>
                </div>
                <!-- dialog -->
            </mat-tab>
        </div>
        <!-- SiginUp -->
        <div class="SignUp">
            <mat-tab label="Registruj se">
                <form [formGroup]="signUpForm">
                    <div class="cointener">
                        <div class="left">
                            <!-- fName -->
                            <mat-form-field class="signUp-example-full-width">
                                <mat-label>Ime</mat-label>
                                <input formControlName="firstName" name="firstName" required matInput placeholder=""
                                    type="name" value="">
                                <mat-error
                                    *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')">
                                    *Unos imena je obavezan
                                </mat-error>
                            </mat-form-field>
                            <!-- lName -->
                            <mat-form-field class="signUp-example-full-width">
                                <mat-label>Prezime</mat-label>
                                <input formControlName="lastName" matInput placeholder="" type="name" value="">
                                <mat-error
                                    *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')">
                                    *Unos prezimena je obavezan
                                </mat-error>
                            </mat-form-field>
                            <!-- DateBirth -->
                            <div clas="dateTimePicker">
                                <mat-form-field appearance="fill">
                                    <mat-label>Choose a date</mat-label>
                                    <input formControlName="birthDate" matInput [matDatepicker]="picker">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error
                                        *ngIf="signUpForm.controls['birthDate'].dirty && signUpForm.hasError('required','birthDate')">
                                        *Unos datuma rodjenja je obavezan
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <input type="file" (change)="onFileSelected($event)">
                        </div>
                        <div class="right">
                            <!-- Email -->
                            <mat-form-field class="signUp-example-full-width">
                                <mat-label>Email</mat-label>
                                <input formControlName="email" matInput placeholder="" type="email" value="">
                                <mat-error
                                    *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')">
                                    *Unos Emaila je obavezan
                                </mat-error>
                                <mat-error *ngIf="signUpForm.hasError('email','email')">
                                    *Format nije pravilan, ponovite unos
                                </mat-error>
                            </mat-form-field>
                            <!-- Lozinka -->
                            <mat-form-field class="signUp-example-full-width">
                                <mat-label>Korisničko ime</mat-label>
                                <input formControlName="username" matInput placeholder="" type="" value="">
                                <mat-error
                                    *ngIf="signUpForm.controls['username'].dirty && signUpForm.hasError('required','username')">
                                    *Unos korisnickog imena je obavezan
                                </mat-error>
                            </mat-form-field>
                            <!-- Potvrdi lozinku -->
                            <mat-form-field class="signUp-example-full-width">
                                <mat-label>Lozinka</mat-label>
                                <input formControlName="password" type="password" matInput placeholder="" value="">
                                <mat-error
                                *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')">
                                *Unos lozinke je obavezan
                            </mat-error>
                            <mat-error
                            *ngIf="signUpForm.hasError('minlength','_password')">
                            *Lozinka mora imati minimalno 4 karaktera
                        </mat-error>
                   
                            </mat-form-field> 
                            <div mat-dialog-actions>
                                <button mat-raised-button color="primary" (click)="onSignUp()"> Kreiraj nalog</button>
                                <button mat-button [mat-dialog-close]="" cdkFocusInitial>Odustani</button>
                            </div>
                        </div>

                    
                    </div>
                </form>
                <br>
            </mat-tab>
        </div>
    </mat-tab-group>
</div>
<div *ngIf="reset" class="dialog">
    <h2>Zaboravili ste lozinku</h2>
    <p>Unesite Vašu e-mail adresu i ukoliko je povezana sa nekim računom, dobit ćete e-mail za restart lozinke.</p>
    <form>
        <label>Email:</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="mailReset" (ngModelChange)="checkValidMail()"
            type="email" placeholder="Vas mail" required>
        <p *ngIf="!validMail && firstCheck">Fomrat maila nije validan</p>
        <button type="submit" (click)="Test()">Restartuj</button>
        <button type="cancle" (click)="zatvoriR()">Odustani</button>

    </form>
</div>

<div *ngIf="showPopup" class="popup">
    <div id="helper"> <img src="../../../assets/Images/strihir.png" alt="Hatchet" class="popup-image">
    </div>

    <p class="popup-message">Provjerite Vašu elektronsku poštu. Molim provjerite i SPAM folder</p>
    <div id="helper"> <button type="submit" (click)="zatvoriR()">OK</button> </div>
</div>