<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Online Editor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <i class="fas fa-check-circle fa-5x text-success"></i>
      <h1>Uspješno ste potvrdili vaš email za SkyTravel</h1>
      <button type="button" class="btn btn-primary" (click)="Done()">Continue</button>
    </div>
  </div>
</div>
<img src="../../../assets/Images/green-logo.png">


</body>
</html>