<app-nav></app-nav>
<div class="about-us-section">

    <div class="right">

      <h1 class="knowUs">#Upoznajte nas!</h1>
        <div class="paragarf">
        <p>Mi smo stručni tim strastvenih putnika koji su odlučili da svoju ljubav prema putovanjima i istraživanju podele sa drugima. Naša agencija je osnovana sa ciljem da pomognemo ljudima da stvore nezaboravna iskustva putovanja, stvarajući jedinstvene avanture koje će trajati celog života.

             Naši agenti su uvek spremni da pruže savete i podršku u odabiru idealnog putovanja, od destinacije do smeštaja, do najboljih aktivnosti na destinaciji.</p>
        </div>

        <div class="paragarf">
            <p>Ponosni smo na našu reputaciju i visoke standarde usluge koje pružamo našim klijentima. Verujemo da je kvalitet naše usluge ključ za uspeh naše agencije i zato se trudimo da svakom klijentu pružimo najbolje moguće iskustvo putovanja.

                Naša ponuda putovanja je raznovrsna i obuhvata sve vrste putovanja, od romantičnih odmora za parove, do avanturističkih tura za aktivne pojedince. </p>
            </div>
    </div>
    <div class="up-left">
    <div class="left">
        <!-- <img src="../../../../assets/Images/rolands-varsbergs-miKmVyq3qhE-unsplash.jpg"> -->
    </div>
  </div>
</div>
<div class="button-offer">
<button (click)="onOffer()" class="green-button">#CollectMomentsNotThings</button>
</div>
<div class="clients">
    <div class="clients-header">
      <h1 class="clients-header">Recenzije kupaca</h1>
      <h4>Šta to naši kupci kažu za usluge agencije SkyTravel</h4>
    </div>
    <div class="reviews-main">
      <div class="reviews">
        <div class="review">
          <img class="image" src="../../../assets/Images/pexels-andrea-piacquadio-774909.jpg" alt="Korisnik 1">
          <h3>Ela Elić</h3>
          <p>"Turistička agencija je bila nevjerojatna u organiziranju mog savršenog odmora. Svaki detalj je bio pažljivo osmišljen i ispunjen, ne mogu dovoljno da zahvalim!"</p>
        </div>
        <div class="review">
          <img src="../../../assets/Images/pexels-pixabay-220453.jpg" alt="Korisnik 2">
          <h3>Teo Teić</h3>
          <p>"Nakon što smo imali nekoliko negativnih iskustava s drugim turističkim agencijama, odlučili smo dati priliku ovoj agenciji i nismo požalili. Sve je bilo jednostavno."</p>
        </div>
        <div class="review">
          <img src="../../../assets/Images/jurica-koletic-7YVZYZeITc8-unsplash (1).jpg" alt="Korisnik 3">
          <h3>Vedad Vedic</h3>
          <p>"Turistička agencija je pružila izvanrednu uslugu tijekom cijelog putovanja. Njihov tim je bio nevjerojatno ljubazan i uvijek spreman pomoći. Sve preporuke!"</p>
        </div>
      </div>
    </div>
  </div>