<div class="profile-container">
    <div class="profile-image">
      <img [src]="profileImageBase64" alt="Profile Image">
    </div>
    <div class="profile-details">
      <h1>{{ firstName }} {{ lastName }}</h1>
      <h2>Email: {{ email }}</h2>
      <p>Username: {{ username }}</p>
    </div>
    <div class="profile-actions">
      <!-- Add buttons or links for editing profile -->
      <button mat-raised-button color="primary" (click)="editProfile()">Uredi profil</button>
    </div>
  </div>
  <app-profile-edit *ngIf="this.showPop.show" [id]="this.userId" [showPopupFlag]="this.showPop"></app-profile-edit>

  